<footer class="article-footer">
    <a data-url="{{ .Permalink }}" data-id="{{ .UniqueID }}" class="article-share-link">
        {{with .Site.Data.l10n.articles.share}}{{.}}{{end}}
    </a>
    {{ if not (eq .Site.DisqusShortname "") }}
    <a href="{{ .Permalink }}/#discourse-comments" class="article-comment-link">
        {{with .Site.Data.l10n.articles.comments}}{{.}}{{end}}
    </a>
    {{end}}
</footer>
