<footer id="footer" style="padding-bottom:0">
  <div>
    <div id="footer-info" class="inner" style="background-color:#222; padding:20px; color:#777">
      This page is generated from
      {{ if .IsNode }}
      <a href="https://gitlab.com/vegoans/vegoans.gitlab.io/blob/master/config.toml">a public file on GitLab.com</a>.
      {{ else }}
      <a href="https://gitlab.com/vegoans/vegoans.gitlab.io/blob/master/content/{{.Path}}">a public file on GitLab.com</a>.
      {{ end }}
      <br/>
      Merge requests with improvements are <a href="https://gitlab.com/vegoans/vegoans.gitlab.io/blob/master/CONTRIBUTING.md">very welcome</a><br/>
      <a href="https://creativecommons.org/licenses/by-sa/4.0/">
        <img src="/css/images/by-sa.svg" alt="Creative Commons License"/>
      </a>
    </div>
  </div>
</footer>

{{ partial "footer_js" . }}
{{ partial "footer_custom_js" . }}
